{{#contentFor "head"}}
    <link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />

    <script>
        (function () {
            ctmLoadScript({
                src: "{{assetsBasePath}}/build/main.js",
                async: true
            });
        }());
    </script>
{{/contentFor}}

<div class="o-grid-container">
    <div class="o-grid-row">
        <div class="barrier-wrapper" data-o-grid-colspan="12 L8">
            {{#barrierModel}}
                {{> alphaville-ui/barrier/main}}
            {{/barrierModel}}
        </div>
        <div data-o-grid-colspan="hide L4">
            {{> alphaville-ui/ads/templates/dmpu_desktop}}
        </div>
    </div>
</div>
